/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Other Resets */

body {
	font-family: Arial, Helvetica, sans-serif;
}

*:not(.section) {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
	clear: both;
}

/* Custom CSS */


nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
}

#nav-items {
	clear: none;
	display: block;
	margin: 1em 4.23728813559322% 0 0; 	/* 50px / 1180px */ 
}

#nav-items li {
	clear: none;
	float: left;
	padding-left: 50px; 	/* 50px / 50px */
	font-size: 1.5em;			/* 24px / 16px */	
}

#body-wrapper {
	width: 100%;
}

.section {
	width: inherit;
	height: auto;
}

#slicea, #slicec {
	background-color: #efefef;
}

#sliceb, #sliced {
	background-color: #d3d3d3;
	
}



.centered {			
	margin: 0 auto;
	text-align: center;
}


/* Start Video Section */

iframe {
	display: block;
	margin: 0 auto;
}

/* End Video Section */
/* Start Form Section */




#purchase {
	background-color: #fff;
	border: 1px solid black;
	border-radius: 4px;
	margin: 0 auto;
}

input {
	margin: 0 0;
}


#purchase label,
#purchase input {
	display: block;
}

#location-wrapper {

	
}

#city-wrapper, 
#state-wrapper,
#zip-wrapper {
	clear:none;
	float: left;

}


#product {
	border-top: 1px solid black;
}

#radio, #amount-wrapper, #price {
	clear: none;
	float: left;
}

#product-radio, #product-radio2 {
	float: left;
	margin-right: 5px;
}

#product-label1, #product-label2  {
	float: left;
}
	
#amount, #product h3, #product h4 {
	clear: none;
	float: left;
}


/* End Video Section */
/* Start Form Section */



.client {
	height: 110px;
	width: 110px;
	border-radius: 50%
}