/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom CSS */

body {
	font-size: 16px;
	font-family: Arial, sans-serif;
}


nav li {
	font-size: 1.25em;		/* 20 / 16 */
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 800;
	color: #fff;
	text-transform: uppercase;
}

nav li:hover, nav li:focus {
	color: #FFD119;
}

.section-head {
	font-size: 2em; 		/* 32 / 16 */
	font-family: 'Arimo', Arial, sans-serif;
	
}

/* Used on all Forms */


input::-webkit-input-placeholder {
	font-family: 'Arimo', Arial, sans-serif;
	text-transform: uppercase;
}

input::-moz-placeholder {
	font-family: 'Arimo', Arial, sans-serif;
	text-transform: uppercase;
	
}

input:-moz-placeholder {
	font-family: 'Arimo', Arial, sans-serif;
	text-transform: uppercase;
	
}

input:-ms-input-placeholder {
	font-family: 'Arimo', Arial, sans-serif;
	text-transform: uppercase;
	
}

label, h3, span, input {
	font-family: 'Arimo', Arial, sans-serif;
	text-transform: uppercase;
}


.client-figure {
	width: 25%;
	height: 25%;
	border-radius: 50%;
	overflow: hidden;
}



img {
	max-width: 100%;
}

/* Nav Section */
/* Top Header */

#nav-head {
	background-color: #33CCFF;
	height: 100px;				/* Remove As Soon as I get the image for this. */
	padding: 0 0 0 0;
}


/* Second Portion of Header */ 

#nav-links {
	height: 1.25em;
	background-color: #165016;
	padding: 0 0 .125em 0;					/* 2 / 16 */
}

#nav-links ul {
	float: right;
	margin-right: 1.25em;			/* 20 / 16 */ 
}

#nav-links ul li {
	display: inline;
	padding: 0 1.25em; 					/* 20 / 16 */
}




#body-wrapper {
	clear: both;
}

/* Tour & Video Section */

#slicea {
	padding: 3em 0;				/* 48 / 16 */
}

iframe {
	display: block;
	width: 53.3125em;			/* 853 / 16 */
	height: 30em;				/* 480 / 16 */
	margin: 0 auto; 
}

/* Purhcase Form and Client Section */

#sliceb {
	width: 100%;
	height: 31.25em;			/* 500 / 16 */
	padding: 3em 0;
	background-color: #99D6FF;
}

/* Client Information Part of the Form */

#purchase {
	float: left;
	width: 38.46153946153846%;				/* 500 / 1300 */
	margin: 0 05.76923076923077%;			/* 75 / 1300 */
}


#purchase input {
	display: block;
	height: 2em;				/* 32 / 16 */ 
	margin-top: .3125em;		/* 5 / 16 */ 
	margin-bottom: .3125em;			/* 5 / 16 */ 
}

.purchase-input {
	width: 99%;									/* 495 / 500 */
}

.location {
	float: left;
}

#city, #state {
	width: 37.8%;						/* 189 / 500 */
	margin-right: 2%;				/* 10 / 500 */
}

#zipcode {
	width: 17.5%;				/* 87 / 500 */
}

/* Item Portion of the Purchase Form */

#radio, #price-wrapper {
	float: left;
}

#radio {
	width: 50%;					/* 229 / 500 */
	margin: 0 10% 0  0;				
}

#radio label, #radio input {
	display: inline;
}

#radio input {
	vertical-align: middle;
}

#price-wrapper {
	width: 22.6%;				/* 113 / 500 */
	padding: .125em 0;			/* 2 / 16 */
}

#price-wrapper label, #price-wrapper input {
	display: inline;
	line-height: 20px
}

#price-wrapper input {
	width: 26.54867256637168%;			/* 30 / 113 */
	height: 1.25em;
}

#price-wrapper h3 {
	margin: .60em 0 0 0;
}

#radio input input {
	float: right;
}



#client-wrapper {
	float: right;
	width: 38.46153946153846%;			/* 500 / 16 */
	margin-right: 05.76923076923077%;	/* 75 / 1300 */
}

#client-wrapper .section-head {
	text-align: center;
	margin-bottom: .75em;
}

#client-wrapper div {
	float: left;
	margin: 0 0 0 6%;				/* 30 / 500 */
}

/* Start of the Team Section */

#slicec {
	height: 500px;
	padding: 3em 0;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, #85FF5C 0%, #AAFF8D 50%, #FFFFFF 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #85FF5C 0%, #AAFF8D 50%, #FFFFFF 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #85FF5C 0%, #AAFF8D 50%, #FFFFFF 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #85FF5C), color-stop(0.5, #AAFF8D), color-stop(1, #FFFFFF));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #85FF5C 0%, #AAFF8D 50%, #FFFFFF 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #85FF5C 0%, #AAFF8D 50%, #FFFFFF 100%);
}

#slicec .section-head {
	text-align: center;
	margin-bottom: .75em;
}

.team-figure {
	display: block;
	float: left;
	width: 15.38461538461538%;			/* 200 / 1300 */
	margin-right: .76923076923077%;
}

.team-figure img {
	max-height: 146px;
}

/* Email Newsletter Form */ 






